.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #990085;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #812990;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: white;
    color: #990085;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 2px solid #990085;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #6324BD;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #6324BD;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-img {
    text-align: center;
    padding: 100px;
}

.file-upload-image {
    max-width: 80%;
    margin: auto;
    padding: 20px;
}

.image-title{
    word-break:break-all;
}

.remove-image {
    width: 50%;
    margin: 0;
    color: #6324BD;
    background: white;
    border: 1px solid #6324BD;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
}

.remove-image:hover {
    background: #6324BD;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.icon_array{
    text-align: center;
}

.text-center{
    text-align: center;
}

.btn-outline-primary {
    color: #6324BD;
    background-color: transparent;
    background-image: none;
    border-color: #6324BD
}

.btn-outline-primary:hover {
    color: white;
    background-color: #6324BD;
    border-color: #6324BD
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(81, 18, 171, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #6324BD;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #6324BD;
    border-color: #6324BD
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(81, 18, 171, 0.5)
}

.btn-outline-primary:not(:disabled):not(.disabled).active{
    color: white;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.8;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
